@font-face 
{
	font-family: 'Bellota-LightItalic';
	src: url('../fonts/Bellota-LightItalic.otf');
}
@font-face 
{
	font-family: 'Bellota-BoldItalic';
	src: url('../fonts/Bellota-BoldItalic.otf');
}

html, body 
{
	height: 100%;
	min-height: 100%;
}

form 
{
	text-align: center;
}

body
{
	margin: 0;
	padding: 0;
}

a 
{
	text-decoration: none;
	color: #3498db;
}

.wrapper 
{
	background-image: url("../images/backgrounds/mem1.jpg");
	/* background-color:#fafafa; */
	background-size: 100%;
	width: 100%;
	height: 100%;
	min-width: 950px;
	background-size: cover;
}

.login_box 
{
	font-family: 'Bellota-LightItalic', sans-serif;
	position: relative;
	margin-right: auto;
	margin-left: auto;
	top: 7%;
	width: 35%;
	background-color: #fafafa;
	border: 1px solid #EDEDED;
	border-radius: 7px;
	padding: 5px;
	opacity: 0.98;
}

.login_header 
{
	font-family: 'Bellota-LightItalic', sans-serif;
	width: 100%;
	height: 90px;
	background-color:  #60496C;
	color: #fff;
	text-align: center;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
}

.login_header h1 
{
	font-family: 'Bellota-BoldItalic', sans-serif;
	margin-top: 0;
	margin-bottom: 0;
	color: rgb(19, 23, 18);
	text-shadow: rgb(19, 57, 3) 0.5px 0.5px 0px;
	font-size: 250%;
}

input[type="submit"] 
{
	background-color: #60496C;
	border: 1px solid #60496C;
	border-radius: 3px;
	margin: 5px 0 10px 0;
	padding: 5px 10px 5px 10px;
	color: #fff;
	/* text-shadow: rgb(7, 30, 14) 0.5px 0.5px 0px;
	font-family: 'Bellota-BoldItalic', sans-serif; */
	font-size: 100%;
}

input[type="text"], input[type="email"], input[type="password"] 
{
	border: 1px solid #e5e5e5;
	margin-top: 5px;
	width: 70%;
	height: 35px;
	margin-bottom: 10px;
	padding-left: 5px;
}

input[type="text"]:hover, input[type="email"]:hover, input[type="password"]:hover 
{
	border-color: rgb(19, 57, 3);
}

#second 
{
	display: none;
}

.extra_details
{
	background-color: #60496C;
}

.footerDetails
{
	list-style: none;
	float: left;
	clear: left;
}

/* top bar div search box
**About
**Community
**Help
**signup
**login
 */

.header_search
{
	background-color: #60496C;
	
}
.safar_logo
{
	float: left;
	color: #fff;
}
 .logoContainer
{
    width: 100%;
}
.logo
{
	text-align: center;
	/* background-color: #60496C; */
}

/* header details */
.site_details
{
	color: #fff;
	display: inline;
	padding: 10px;
}
/* footer contents */
.Sit_details
{
	color: #fff;
	display: inline;
	padding: 10px;
	margin-left: -8px;
}

.header
{
    background-color: #FAFAFA;
    border-bottom: 1px solid #ebebeb;
}
.Wraper .headerContent
{
    display: flex;
    align-items: center;
}

.headerContent .logoContainer
{
    width: 150px;
    padding: 5px 20px;
    box-sizing: border-box;
}
.headerContent .searchContainer
{
    flex: 1;
}

.headerContent .searchContainer form{
    margin: 15px 0 28px 0;
}
/* New page */
.headerContent .searchBarContainer
{
    height: 44px;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    width: 70%;
    max-width: 630px;
    box-sizing: border-box;
    display: flex;
}

.headerContent .searchBarContainer .searchBox
{
    flex: 1;
    border: none;
    background-color: transparent;
    padding: 12px;
    font-size: 16px;
    color: black;
}

.tabsContainer
{
    margin-left: 150px;
}

.tabsContainer .tabList
{
    padding: 0;
    margin: 0;
}

.tabsContainer .tabList li
{
    display: inline-block;
    padding: 0 16px 12px 16px;
    color: #777;
    font-size: 13px;
}

.tabsContainer .tabList li a
{
    text-decoration: none;
}

.tabsContainer .tabList li.active
{
    border-bottom: 3px solid blue;
}

.tabsContainer .tabList li.active a
{
    font-weight: bold;
    color: blue;
}

.list-items
{
	display: inline;
}

.police
{
	color: #fff;
}
#futa
{
	position: fixed;
	bottom: 0;
	width: 100%;
}