@font-face
{
    font-family: 'SourceCodePro-Light';
    src: url(../fonts/SourceCodePro-Light.otf);
}

@font-face
{
    font-family: 'SourceCodePro-Bold';
    src: url(../fonts/SourceCodePro-Bold.otf);
}

html,body
{
    height: 100%;
    min-height: 100%;
}

form
{
    text-align: center;
}

body
{
    margin: 0;
    padding: 0;
}
a
{
    text-decoration: none;
    color: #3498db;
}
.wrapper
{
    background-image: url("../images/backgrounds/dream.jpg");
    background-size: 100%;
    width: 100%;
    height: 100%;
    min-width: 950px;
    background-size: cover;
}

.login_box
{
    font-family: 'SourceCodePro-Light',sans-serif;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    top: 7%;
    width: 35%;
    background-color: white;
    border: 1px solid #ededed;
    border-radius: 7px;
    padding: 5px;
    opacity: 0.98; 
}

.login_header
{
    font-family: 'SourceCodePro-Light',sans-serif;
    width: 100%;
    height: 90px;
    background-color: rgb(24, 104, 67);
    color: white;
    text-align: center;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
.login_header h1
{
    font-family: 'SourceCodePro-Light',sans-serif;
    margin-top: 0;
    margin-bottom: 0;
    color: blue;
    text-shadow: #000 0.5px 0.5px 0px;
    font-size: 250%;
}

input[type="submit"]
{
    background-color:rgb(24, 104, 67);
    border: 1px solid rgb(24, 104, 67);
    border-radius: 3px;
    margin: 5px 0 10px 0;
    padding: 5px 10px 5px 10px;
    text-shadow: #000 0.5px 0.5px 0px;
    font-family: 'SourceCodePro-Light',sans-serif;
    font-size: 100%;
}

input[type="text"], input[type="email"], input[type="password"]
{
    border: 1px solid rgb(66, 60, 60);
    margin-top: 5px;
    width: 70%;
    height: 35px;
    margin-bottom: 10px;
    padding-left: 5px;
}

input[type="text"]:hover, input[type="email"]:hover, input[type="password"]:hover
{
    border-color: #3498db;
}
#second
{
    display: none;
}