@font-face
{
    font-family: 'SourceCodePro-Light';
    src: url(../fonts/SourceCodePro-Light.otf);
}

@font-face
{
    font-family: 'SourceCodePro-Bold';
    src: url(../fonts/SourceCodePro-Bold.otf);
}

body
{
    line-height: 17px;
    background-color: #e6eae8;
}

a
{
    color: green;
    text-decoration: none;
}

.top_bar
{
    width: 100%;
    min-width: 1050px;
    height: 40px;
    background-color:green;
    border-bottom: 5px solid rgb(52, 70, 52);
    margin: 0 0 10px 0;
    display: inline-flex;
    position: fixed;
    z-index: 10;
}

.logo a
{
    font-family: 'SourceCodePro-Bold',sans-serif;
    margin-left: 10px;
    font-size: 30;
    position: relative;
    top: 9px;
    text-shadow: #73B6e2 0.5px 0.5px 0px;
    color: #1086ba;
}
a:hover
{
    text-decoration: none;
}

nav
{
    float: right;
    right: 1px;
    position: absolute;
    margin: 10px;
}

nav a
{
    position: relative;
    color: #ffff;
    text-decoration: none;
    font-size: 17px;
}

nav a:hover
{
    border-bottom: 7px solid  blue;
    color: #1086ba;
}

.wrapper
{
    margin: 0 auto;
    top: 50px;
    position: relative;
    padding: 0 10px;
    width: 75%;
    min-width: 950px;
}

.column
{
    background-color: white;
    padding: 10px;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    box-shadow: 2px 2px 1px #d3d3d3;
    z-index: -1;
}

.user_details
{
    width: 250px;
    float: left;
    margin-bottom: 20px;
}

.user_details_left_right
{
    width:  125px;
    display: inline-block;
    position: absolute;
}
.user_details img
{
    /* height: 25px; */
    border-radius: 5px;
    margin-right:  5px;
}

.main_column
{
    float: right;
    width: 70%;
    z-index: -1;
    min-height: 360px;
}

.post_form
{
    width: 100%;
}

.post_form textarea
{
    width: 81%;
    height: 60px;
    border-radius: 3px;
    margin-right: 5px;
    border: 1px solid #d3d3d3;
    font-size: 12px;
    padding: 5px;
}

textarea:focus
{
    outline: 0;
}

.post_form input[type="submit"]
{
    width: 11%;
    height: 60px;
    border: none;
    border-radius: 3px;
    background-color: #3498db;
    font-family: 'SourceCodePro-Bold',sans-serif;
    color: white;
    text-shadow: #73B6e2 0.5px 0.5px 0px;
    font-size: 90%;
    position: absolute;
    outline: 0;
    margin: 0;
}

.post_form input[type="submit"]:active
{
    padding: 5px 4px 4px 5px;
    /* color: white; */
}
.status_post
{
    width: 96%;
    font-size: 15px;
    padding: 0px 5px;
    min-height: 75px;
    cursor: pointer;
}
.post_profile_pic
{
    float: left;
    margin-right: 7px; 
}

.post_profile_pic img
{
    border-radius: 5px;
}

#comment_iframe
{
    max-height: 250px;
    width: 100%;
    margin-top: 5px;
}

.comment_section
{
    padding: 0 5px 5px 5px;
}

.comment_section img
{
    margin: 0 3px 3px 3px;
    border-radius: 3px;
}

#comment_form textarea
{
    border-color: #d3d3d3;
    width: 85%;
    height: 35px;
    border-radius: 35px;
    color: #616060;
    font-size: 14px;
    margin: 3px 3px 3px 5px;
}
#comment_form input[type="submit"]
{
    border: none;
    background-color: #20AAE5;
    color: #156588;
    border-radius: 5px;
    width: 13%;
    height: 35px;
    margin-top: 3px;
    position: absolute;
    font-family: 'SourceCodePro-Bold',sans-serif;
    text-shadow: #73B6e2 0.5px 0.5px 0px;
}

.newsfeedpostOptions
{
    padding: 0px;
    text-decoration: none;
    color: white;
}